---
interface Link {
	href: string
	text: string
	id: string
}

interface Props {
	link: Link
	colorClass?: string
	isActive?: boolean
}

const { colorClass = 'text-sandstone-300', isActive = false, link } = Astro.props

const defaultClass = '-translate-x-1 opacity-70'
const activeClass = 'translate-x-1 opacity-100'
---

<a href={link.href} id={link.id}>
	<div class='group flex flex-row items-center justify-center gap-x-3 w-full'>
		<div
			class=`transition-all delay-50 ease-in w-10 sm:w-16 h-auto group-hover:translate-x-1 group-hover:focus-x-1 ${colorClass} group-hover:opacity-100 ${isActive ? activeClass : defaultClass}`
		>
			<slot name='icon' />
		</div>
		<h3
			class=`w-full font-bold transition-all ease-out font-serif text-xl sm:text-2xl m-0 ${colorClass} opacity-90 group-hover:opacity-100 group-hover:underline ${isActive ? 'underline' : ''}`
		>
			{link.text}
		</h3>
	</div>
</a>
