---
interface Props {
	text: string
	href: string
	target?: string
	classNames?: string
	inverted?: boolean
}

const { href, target = '_self', text, classNames, inverted } = Astro.props as Props

const classes = inverted
	? `flex flex-row gap-x-2 text-nightsky-950 hover:text-black dark:text-greyfog-400 dark:hover:text-greyfog-200 no-underline hover:underline ${classNames}`
	: `flex flex-row gap-x-2 text-greyfog-50 hover:text-sandstone-300 hover:underline dark:text-nightsky-950 dark:hover:text-sandstone-950 ${classNames}`
---

<a href={href} target={target} class=`${classes} ${classNames}`>
	<div class='w-5 h-5'>
		<slot name='icon' />
	</div>
	{text}
</a>
