@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Select styles */

*::selection {
  @apply bg-white text-black dark:bg-sandstone-500 dark:text-black;
}

/* Form styles */

input,
textarea {
  border-radius: 0;
  background: transparent !important;
}

input[type="search"],
input,
textarea {
  -webkit-appearance: none;
}