---
interface Props {
	fullScreen?: boolean
}

import NormalLink from '../buttons/NormalLink.astro'
import Envelope from '../icons/Envelope.astro'

import WartHog from '../icons/WartHog.astro'
// import ArrowDown from '../icons/ArrowDown.astro'
// import Hand from '../icons/Hand.astro'
// import EightMaze from '../icons/EightMaze.astro'

const { fullScreen } = Astro.props as Props
---

<footer
	class={`relative py-5 sm:py-0 sm:prose-sm grid grid-cols-1 gap-y-2 sm:grid-cols-3 justify-center items-center text-greyfog-50 dark:text-nightsky-950 bg-nightsky-950 dark:bg-sandstone-300 w-full ${fullScreen ? 'hidden sm:grid' : ''}`}
>
	<div class='text-center'>Made with <span class='text-sandstone-300 dark:text-nightsky-950'>♥</span> in {new Date().getFullYear()}</div>
	<div class='relative text-center'>
		<p class='font-bold font-serif text-xl sm:text-lg'>8 Day Rain</p>
	</div>
	<div class='text-center'>
		<NormalLink text='mail@eightdayrain.com' href='mailto:mail@eightdayrain.com' classNames='justify-center dark:hover:text-nightsky-950'>
			<Envelope slot='icon' />
		</NormalLink>
	</div>
	<div>
		<div class='absolute hidden xl:block sm:bottom-[1rem] sm:right-4 sm:w-20'>
			<WartHog />
		</div>
		<!-- <div class='absolute -top-8 right-8 w-10'>
			<ArrowDown />
		</div>
		<div class='absolute -top-40 left-40 w-40'>
			<Hand />
		</div>
		<div class='absolute -top-8 right-40 w-10'>
			<EightMaze />
		</div> -->
	</div>
</footer>
