---
import { NAV_LINKS } from '../../data/links'

interface Props {
	fullScreen?: boolean
}

import IconLink from '../buttons/IconLink.astro'
import ArrowRight from '../icons/ArrowRight.astro'

/* Active link */
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname

/* Props */
const { fullScreen } = Astro.props as Props
---

{/* DESKTOP */}
<nav class=`${fullScreen ? 'fixed' : 'absolute'} sm:fixed top-0 left-0 w-full p-5 translate-x sm:translate-x-4` transition:animate='none'>
	<div class='max-w-72 flex items-center justify-center flex-row mx-auto'>
		{
			NAV_LINKS.map((link) => {
				const isActive = currentPath === link.href

				return (
					<IconLink isActive={isActive} link={link} colorClass='text-greyfog-950 dark:text-sandstone-300'>
						<ArrowRight slot='icon' />
					</IconLink>
				)
			})
		}
	</div>
</nav>
