---
import Layout from '../layouts/Layout.astro'
import Logo from '../components/icons/Logo.astro'
import PageTitle from '../components/typography/PageTitle.astro'
import NormalLink from '../components/buttons/NormalLink.astro'
import Envelope from '../components/icons/Envelope.astro'
---

<Layout title='Home' fullScreen={true}>
	<section>
		<div class='relative prose w-56 lg:w-72 xl:w-96 text-midnight-950 dark:text-greyfog-200 flex flex-col gap-y-3 overflow-y-visible'>
			<div class='text-nightsky-950 dark:text-greyfog-100'>
				<Logo />
			</div>
			<div class='flex flex-col gap-y-0'>
				<PageTitle text='8 Day Rain' classNames='lg:text-5xl xl:text-7xl' />
				<h4 class='tracking-tighter text-center w-full font-normal my-0 -mt-5 sm:my-3 dark:text-greyfog-200'>
					<span class='font-semibold'>ROCKLANDS,</span> South Africa
				</h4>
				<NormalLink text='mail@eightdayrain.com' href='mailto:mail@eightdayrain.com' classNames='justify-center text-sm mt-2' inverted>
					<Envelope slot='icon' />
				</NormalLink>
			</div>
		</div>
	</section>
</Layout>
