<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 426.3 426.9" style="enable-background:new 0 0 426.3 426.9;" xml:space="preserve">
<path id="ring-outside" class="fill-current" d="M186.2,1.4c-21.6,2.8-46.9,10.4-66.6,19.9c-51.5,25.2-90.8,70.1-108.7,124
	c-8,23.9-10.7,41.3-10.7,68s2.7,44.1,10.7,68c25.7,77.6,94.5,133.8,176.3,143.9c10.9,1.4,41.1,1.4,52,0c22.8-2.8,47.3-10,67.7-20
	c60.4-29.5,103-85.2,115.8-151.4c2.3-11.5,2.8-17.7,3.2-34.7c0.7-30.1-1.8-47.9-10.4-73.8C389.8,67.7,321,11.5,239.2,1.4
	C229.4,0.1,195.8,0.2,186.2,1.4z M238.4,17.9c23.4,2.3,25.9,2.9,41.1,9c29.3,11.7,37,16.7,59.2,37.5c3.3,3.1,8.7,8,12,10.9
	c10,9,25,25.6,30.1,33.2c5.2,7.9,18.4,33.5,18.4,35.6c0,0.7,1.9,6.1,4.1,12c6,15.6,6.5,17,8.8,25.2c1.2,4.1,2.1,10.2,2.1,13.6
	c0,9.6-5.8,64.4-7.4,69.4c-3.1,9.9-7.9,21.9-12.1,30c-2.4,4.7-6.5,12.9-9,18.3c-3.8,8.2-5.9,11.1-12.1,17.3
	c-4.1,4.1-9.6,10.5-12.4,14.3c-2.7,3.7-7.5,9-10.7,11.7c-3.2,2.7-8.9,7.7-12.8,11.2c-10,9-35,25.2-38.9,25.2c-0.8,0-1.6,0.4-1.8,0.8
	c-0.4,1.1-15.7,7.5-26.4,11.1c-19.1,6.4-48.8,10.2-63.9,8.2c-3.3-0.5-12.1-1.6-19.5-2.5s-17.5-2.1-22.5-2.7
	c-15-1.9-23.4-5-42.7-16.1c-4.7-2.7-11.9-6.3-16-7.9c-13.6-5.5-17.2-8.3-28-21.9c-5.4-6.9-12.9-17.1-16.6-22.8
	c-3.7-5.6-10.9-16.6-16.1-24.5c-14.4-21.9-17.7-29-19.5-42.2c-0.8-6.1-2.1-15.1-2.8-20c-0.8-6-1.3-20.4-1.3-43
	c0-31.8,0.1-34.7,2.3-44.8c1.6-7.4,3.6-13.1,6.2-18c2.1-4,4.8-10.8,6-15.2c4-15,13.4-30.8,26.7-45.1c18-19.3,63.6-50.2,81.8-55.2
	c3.9-1.1,9.9-2.9,13.5-4.1c3.6-1.1,13.9-3.4,23-5.1c9.1-1.7,17.9-3.4,19.5-3.9C205.4,16,221.8,16.2,238.4,17.9z"/>
<path id="ring-inside" class="fill-current" d="M187.9,26.3c-9.1,1.4-16.9,2.8-17.3,3.2c-0.4,0.5-1.6,0.8-2.7,0.8c-2,0-6.9,1.4-11.2,3.1
	c-1.1,0.4-3.1,1.1-4.5,1.4c-6,1.6-22.6,9.4-33.5,15.9c-7.2,4.2-16.5,10.5-18.2,12.2c-0.8,0.7-4,3.4-7.1,5.8
	c-19.1,14.9-43.1,47.3-52.6,71.1c-5.7,14.1-7.6,20.7-11,36.7c-3,14.3-3.9,24.5-3.7,40.3c0.2,15.9,5.7,49.4,9.2,55.7
	c0.5,1,0.9,2.4,0.9,3.3c0,0.8,0.8,3.1,1.7,5.2c0.9,2.1,2.4,5.6,3.4,7.8c6.6,15.4,12.1,24.9,24.1,41.5c3.5,4.9,13.7,16,20.2,21.9
	c2.2,2,4.9,4.5,6,5.7c3.5,3.5,21.4,16.5,26.9,19.6c5.6,3.1,25.9,13.2,26.7,13.3c0.4,0,7.2,2.4,12,4.2c0.8,0.3,2,0.7,2.5,0.8
	c0.6,0.2,3.7,1,7,1.9s6.9,1.8,8.1,2c1.1,0.2,2.5,0.6,3,0.9c0.5,0.3,3.2,0.8,5.9,1.2c2.8,0.3,6.1,0.8,7.5,1.1
	c1.4,0.3,10.2,0.7,19.6,1c15,0.4,19.2,0.2,33-2c8.8-1.4,18.4-3.2,21.4-4c8.9-2.4,13.8-4.1,14.6-4.9c0.4-0.4,1.4-0.7,2.2-0.7
	c0.8,0,2.8-0.6,4.5-1.4c10.7-4.7,15.3-7,15.7-7.6c0.3-0.4,2-1.5,3.9-2.4c9.5-4.9,17.9-11.6,34.5-27.6c8.9-8.6,13.6-13.8,29.1-31.9
	c5.6-6.6,13.9-20.8,18.9-32.3c7.4-16.9,14.3-50.4,14.8-71.3c0.4-15.2-1.8-42.8-4.3-55c-1.6-7.6-7.6-24.5-10.9-30.5
	c-0.4-0.8-2.6-4.9-4.8-9c-3.6-6.8-9.8-16.9-11.9-19.5c-0.5-0.6-2.5-3.2-4.5-5.8c-5.5-7.2-13.8-16.6-18.3-20.6c-2.1-2-5-4.6-6.2-5.8
	c-3.4-3.2-21.2-16.7-24.8-18.7c-1.6-0.9-4.3-2.5-6-3.6c-3.1-2-12.5-6.7-18.5-9.3c-1.9-0.8-5.2-2.2-7.3-3.1c-2.1-1-4.7-1.9-5.7-2.1
	c-1.1-0.2-2.6-0.7-3.3-1.2c-0.6-0.4-1.4-0.8-1.7-0.9c-1.7-0.3-6.7-1.7-8-2.1c-0.8-0.3-2.2-0.7-3-0.8c-0.8-0.2-2.6-0.6-4-0.9
	c-1.4-0.3-3.5-0.8-4.8-1c-1.2-0.3-3-0.7-4-1c-4.4-1.4-20.7-2.8-34.9-2.9C207.9,23.8,199.5,24.5,187.9,26.3z M239.2,43.7
	c2.5,0.3,6.3,0.8,8.5,1.1c2.2,0.2,6.7,0.7,10,1.1c7.6,0.7,10.3,1.1,14,1.9c1.7,0.4,3.9,0.8,5,1c3.7,0.5,10.9,3.8,16.8,7.7
	c3.2,2.1,6.1,3.8,6.4,3.8c0.6,0,9.3,6.1,11.2,7.8c0.7,0.7,2.6,2.1,4,3c6.4,4.1,24.1,21.3,30.6,29.7c2.1,2.7,4.5,5.7,5.3,6.5
	c2.4,2.7,10.2,15.4,10.2,16.8c0,0.7,1.7,3.8,3.8,6.9c5.5,8.2,9.6,15.3,11.2,19.3c0.7,1.9,1.9,4.2,2.5,5s2,4.4,2.9,8
	c1,3.6,2.2,7.6,2.6,9s1.3,4.5,2,7c0.6,2.5,1.6,5.3,2.1,6.2c0.5,1,0.9,2.8,0.9,4.1s0.5,2.8,1.1,3.4c3,3,1.2,46.5-2.7,63.3
	c-3.5,15.4-8.7,28.4-15.4,39.2c-3.3,5.1-13.2,17.1-17.7,21.2c-1.2,1.2-4.1,4.4-6.5,7.3c-6.5,7.9-34.1,32.7-44.3,39.7
	c-5.4,3.8-11.4,7-15,8.1c-3.3,1-11.4,4.7-18,8.1s-14,6.6-16.5,7c-2.5,0.4-4.7,0.8-5,0.9c-0.6,0.1-10.4,1.5-14.5,2.1
	c-1.6,0.2-6.6,0.8-11,1.4c-14.7,1.9-23.9,2.2-32,1c-25.6-3.8-51.5-13.5-70.5-26.5c-10.3-7.1-32.5-28.9-40.5-40
	c-3.2-4.4-6.1-8.2-6.5-8.5c-2.7-2.1-8.8-12.5-22-37.5c-7.6-14.3-12.4-30.4-13.6-45.6c-0.6-8.5,0.8-33.7,2.7-45.4
	c0.9-6,7-27.1,11.4-39.5c10.5-30,13.5-36.3,23.9-50.8c6.9-9.8,11.1-14.2,21.1-22.4c12-9.8,20.1-14.9,31-19.4c3.3-1.4,6.9-2.9,8-3.4
	c3.5-1.5,11.8-3.9,17.5-4.9c3-0.6,8.7-1.7,12.5-2.6c3.9-0.8,12.2-1.8,18.5-2.1c6.3-0.3,11.7-0.8,12-1
	C197.7,42.1,233.1,43,239.2,43.7z"/>
</svg>
