<svg width='100%' viewBox='0 0 512 512' fill='none' xmlns='http://www.w3.org/2000/svg' class="w-full h-auto inline">
	<g clip-path='url(#clip0_19_2395)'>
		<path
			d='M0 256V512H512V0H0V256ZM366.259 144.138C317.599 172.538 255.457 208 254.659 208C253.86 208 191.718 172.54 143.058 144.138C141.318 143.198 175.718 142.798 254.659 142.798C333.599 142.798 368 143.198 366.259 144.138ZM407.999 273.997V370.657H103.999V178.376L111.599 182.636C115.859 185.036 149.339 204.236 186.141 225.436C222.801 246.636 253.741 263.976 254.8 263.976C255.86 263.976 290.261 244.516 331.339 220.636C372.399 196.896 406.399 177.436 407.079 177.296C407.619 177.296 408.019 220.756 408.019 273.957L407.999 273.997Z'
			class="fill-current"></path>
	</g>
	<defs>
		<clipPath id='clip0_19_2395'>
			<rect width='512' height='512' rx='57' fill='transparent'></rect>
		</clipPath>
	</defs>
</svg>
