<svg width='100%' viewBox='0 0 512 512' fill='none' xmlns='http://www.w3.org/2000/svg' class="inline w-full h-auto">
	<g clip-path='url(#clip0_19_2429)'>
		<path
			d='M256 194.34C243.81 194.34 231.89 197.96 221.75 204.73C211.61 211.5 203.71 221.13 199.04 232.4C194.37 243.67 193.15 256.06 195.53 268.02C197.91 279.98 203.78 290.97 212.4 299.59C221.02 308.21 232.01 314.09 243.97 316.46C255.93 318.84 268.33 317.62 279.59 312.95C290.86 308.28 300.48 300.38 307.26 290.24C314.04 280.1 317.65 268.18 317.65 255.99C317.63 239.64 311.13 223.97 299.57 212.42C288.01 200.86 272.34 194.36 255.99 194.34H256Z'
			class="fill-current"></path>
		<path
			d='M328.54 98.9399H183.47C161.06 98.9699 139.58 107.88 123.73 123.72C107.88 139.56 98.9702 161.05 98.9502 183.46V328.53C98.9802 350.94 107.89 372.42 123.73 388.27C139.57 404.11 161.06 413.03 183.47 413.05H328.54C350.95 413.02 372.43 404.11 388.28 388.27C404.12 372.42 413.04 350.94 413.06 328.53V183.46C413.03 161.05 404.12 139.57 388.28 123.72C372.43 107.88 350.95 98.9599 328.54 98.9399ZM322.6 322.6C304.94 340.27 280.99 350.2 256 350.23C237.36 350.23 219.15 344.7 203.65 334.35C188.15 324 176.08 309.28 168.94 292.06C161.81 274.84 159.94 255.9 163.58 237.62C167.22 219.34 176.19 202.55 189.37 189.37C202.55 176.19 219.34 167.22 237.62 163.58C255.9 159.94 274.84 161.81 292.06 168.94C309.28 176.07 323.99 188.15 334.35 203.65C344.7 219.15 350.23 237.36 350.23 256C350.2 280.98 340.26 304.93 322.6 322.6ZM381.05 161.67C379.88 164.5 378.17 167.07 376.01 169.23C373.85 171.4 371.28 173.11 368.46 174.28C365.63 175.45 362.61 176.06 359.55 176.06C354.95 176.05 350.45 174.68 346.63 172.13C342.8 169.58 339.82 165.94 338.06 161.69C336.3 157.44 335.84 152.76 336.73 148.25C337.63 143.74 339.84 139.59 343.09 136.34C346.34 133.08 350.49 130.87 355 129.96C359.51 129.06 364.19 129.51 368.44 131.27C372.69 133.03 376.33 136 378.89 139.82C381.45 143.64 382.82 148.14 382.83 152.74C382.83 155.8 382.24 158.83 381.07 161.66L381.05 161.67Z'
			class="fill-current"></path>
		<path
			d='M472 0H40C17.91 0 0 17.91 0 40V472C0 494.09 17.91 512 40 512H472C494.09 512 512 494.09 512 472V40C512 17.91 494.09 0 472 0ZM445.62 328.53C445.58 359.57 433.23 389.33 411.29 411.28C389.34 433.23 359.58 445.58 328.54 445.62H183.47C152.43 445.58 122.67 433.23 100.71 411.28C78.76 389.33 66.41 359.57 66.37 328.52V183.45C66.41 152.41 78.76 122.65 100.71 100.69C122.66 78.74 152.42 66.39 183.47 66.35H328.54C359.58 66.39 389.35 78.74 411.3 100.69C433.25 122.64 445.6 152.4 445.64 183.45V328.52L445.62 328.53Z'
			class="fill-current"></path>
	</g>
	<defs>
		<clipPath id='clip0_19_2429'>
			<rect width='512' height='512' fill='transparent'></rect>
		</clipPath>
	</defs>
</svg>
