<!--?xml version="1.0" encoding="utf-8"?-->
<svg
	version='1.1'
	id='Layer_1'
	xmlns='http://www.w3.org/2000/svg'
	xmlns:xlink='http://www.w3.org/1999/xlink'
	x='0px'
	y='0px'
	viewBox='0 0 188.8 108.9'
	style='enable-background:new 0 0 188.8 108.9;'
	xml:space='preserve'
	class='overflow-visible w-full h-auto inline fill-current'
>
	<g id='cloud-3'>
		<path
			class='fill-current'
			d='M149.7,0.9c-0.7,0.3-2.4,2.7-3.7,5.4c-1.4,2.7-2.9,4.9-3.3,4.9c-0.4,0-1.3-0.9-2-2.1c-1-1.6-2.1-1.9-5.5-1.7
		c-4.7,0.3-5.3,2.3-0.7,2.3c4.4,0,9.1,5.1,9.7,10.7c0.5,4.2,0.3,4.5-2.9,6.2c-2.6,1.4-4.7,1.8-8.1,1.4c-2.6-0.3-4.4-0.2-4.1,0.3
		c0.7,1.1,10.5,1.1,12.2,0c0.8-0.5,3.1,0.2,6,1.6c4,2.1,5.6,2.3,10.2,1.8c8.4-1,9.3-2.3,8.4-12.9c-0.7-8.4-0.8-8.9-3.7-10.7
		c-2.1-1.2-4.2-1.7-6.7-1.3c-3.3,0.5-5,1.8-9.2,7.6l-1.7,2.3l-0.1-2.6c0-1.9,1.2-3.7,3.9-6.2c5.3-4.8,7.4-5.3,11.7-2.8
		c4,2.4,4.8,2.6,3.8,0.9c-0.4-0.7-0.3-0.8,0.5-0.4c0.6,0.4,0.9,1.1,0.6,1.6s-0.1,1.1,0.4,1.4c0.5,0.4,1.3,3.7,1.6,7.4
		c0.9,8.2,2.6,12.7,5.6,14.2c2.5,1.4,10.4,0.6,12.7-1.2c3.5-3,4.6-13.1,1.8-17.3c-1.4-2.2-2.4-2.5-7.1-2.5c-7.8,0-10,2.3-9.1,9.3
		c0.8,6,1,6.3,3.9,7.8c2.1,1.1,2.1,1.1,0.5-0.7c-1.8-2-2.8-12-1.4-14.2c0.4-0.7,2.9-1.2,5.6-1.2c3.8,0,5.2,0.4,5.9,1.9
		c1.4,2.6,1.9,8.3,1,10.9c-1.1,3-6.7,6.2-10.7,6.2c-2.8,0-3.5-0.5-4.7-3.4c-0.8-1.8-1.7-6.4-2.1-10.2c-0.3-3.8-1.2-7.9-2-9
		C164.3,2.4,154.3-1,149.7,0.9z M163,4.2c0.8,1.3-0.5,1.3-2.5,0c-1.3-0.8-1.3-1,0.2-1C161.6,3.2,162.7,3.6,163,4.2z M160.4,9.7
		c3.4,1.7,4.1,3.3,4.1,9c0,4.5-1.6,9.4-3.5,10.7c-3.3,2.4-15.5-0.5-15.5-3.7c0-1.1,0.8-1,4.3,0.5c5.6,2.6,8.9,2.5,11.5-0.3
		c1.7-1.8,2-3.2,1.7-7.6c-0.1-3.1-0.8-5.7-1.6-6.2c-4.3-2.7-11.9,1-11.9,5.8c0,2.3,3.1,6.3,5,6.3c1.8,0,5.1-4.1,4.8-5.8
		c-0.4-2.3-5.2-2.3-5.6,0c-0.2,1.2,0.3,1.8,1.4,1.8c1.4,0,1.5,0.3,0.6,1.2c-1.6,1.6-4.2-0.7-4.2-3.8c0-3.6,4.3-5.3,7-2.9
		s2.6,7.6-0.1,10c-1.8,1.8-2.3,1.8-6.2,0.5c-3.9-1.4-4.2-1.8-4.5-5.6c-0.3-3.6,0.2-4.7,3.1-7.8C154.6,7.8,156.2,7.5,160.4,9.7z
		 M164.8,27.7c-0.3,0.9-0.8,1.4-1,1.1c-0.3-0.3-0.2-0.9,0.2-1.5C164.9,25.7,165.5,26,164.8,27.7z M185,28.2c-0.3,0.5-1.4,1-2.3,1
		c-1.5,0-1.5-0.2-0.2-1C184.5,26.9,185.8,26.9,185,28.2z'
		></path>
		<path
			class='fill-current'
			d='M127.5,10.7c-0.6,0.8-1.5,4-2,7.2c-1.2,8.7-2,10-5.5,9.3c-0.5-0.1-2.1-0.2-3.6-0.2c-1.4-0.1-2.6-0.6-2.7-1.2
		c-0.1-0.6-0.4-2.3-0.8-3.8c-0.3-1.5-0.3-3.9,0-5.3c0.5-2.1,1.2-2.5,4.9-2.7l4.2-0.1l-3.8-0.4c-2.1-0.3-4.5,0.1-5.3,0.8
		c-2.9,2.4-1,14.7,2.1,13.5c0.8-0.3,1.5-0.1,1.5,0.4c0,1.4,5.3,1.2,7.2-0.3c0.9-0.6,2.1-2.8,2.6-4.7l1-3.5l0.1,3.2
		c0.1,1.8,0.6,3.3,1.1,3.3c0.6,0,1-0.5,1-1.2c0-0.6,0.9-0.3,2.1,0.7c1.8,1.8,2.3,1.8,6.1,0.5c5.2-1.9,6.3-4.6,3.9-9.1
		c-1.8-3.4-3.9-4.8-9.8-6.7C129.3,9.6,128.3,9.7,127.5,10.7z M131.3,11.6c-0.2,0.1-1.2,0.8-2.3,1.6c-1.8,1.4-1.9,1.3-0.8-0.1
		c0.7-0.9,1-1.9,0.6-2.3c-0.4-0.4,0.1-0.4,1,0C130.8,11.1,131.5,11.5,131.3,11.6z M139.9,16.6c2.5,3.9,2,6.2-1.5,7.6
		c-3.8,1.6-6.3,0.4-6.7-3.2c-0.3-2.8,2-5.3,4.3-4.4c2.2,0.8,2,5.6-0.2,5.5c-1.1,0-1.3-0.3-0.5-0.6c2-0.8,1.4-3.3-0.8-3.3
		c-2.6,0-2.7,3.6-0.1,5c1.5,0.7,2.4,0.6,3.6-0.6c2.3-2.3,1.5-5.6-1.7-7.4c-2.3-1.2-3.1-1.3-4.8-0.2c-1.1,0.7-2,0.8-2,0.3
		c0-1.4,5.3-2.9,7.1-2C137.5,13.7,139,15.2,139.9,16.6z M128.5,17.7c0,0.8-0.4,1.5-1,1.5c-0.5,0-0.7-0.7-0.4-1.5
		c0.4-0.8,0.8-1.5,1-1.5S128.5,16.9,128.5,17.7z M130.5,18.7c0,0.3-0.2,0.5-0.5,0.5s-0.5-0.2-0.5-0.5c0-0.3,0.2-0.5,0.5-0.5
		S130.5,18.4,130.5,18.7z'
		></path>
		<path class='fill-current' d='M176,13.3c-0.4,0.6-0.5,1.2-0.2,1.5c0.2,0.3,0.7-0.2,1-1.1C177.5,12,176.9,11.7,176,13.3z'></path>
		<path
			class='fill-current'
			d='M183.2,15.9c0.6,3.9-1.2,8.2-3.9,9.3c-1.8,0.7-1.9,0.9-0.5,0.9c2.1,0.1,5.7-3.3,5.8-5.7c0.2-2.9-0.2-5.7-1-6.5
		C183.2,13.5,183,14.4,183.2,15.9z'
		></path>
		<path
			class='fill-current'
			d='M122.5,18.2c0,4.9-0.7,6.4-3,7.3c-1.3,0.4-1.2,0.6,0.1,0.6c0.9,0.1,2.1-0.5,2.7-1.2c1.6-2,2.4-7.5,1.3-9.4
		C122.8,14.1,122.6,14.6,122.5,18.2z'></path>
		<path class='fill-current' d='M178.8,15.8c2.5,0.8,2.1,4.3-0.5,5.4c-2.3,0.9-2.3,0.9-0.2,0.9c4.7,0.2,6-6.2,1.4-6.6
		C178,15.4,177.7,15.5,178.8,15.8z'
		></path>
		<path class='fill-current' d='M177.5,18.3c0,0.5,0.5,0.7,1,0.4c0.6-0.3,1-0.8,1-1.1c0-0.2-0.4-0.4-1-0.4C178,17.2,177.5,17.7,177.5,18.3z'></path>
		<path
			class='fill-current'
			d='M113.9,19.5c0.6,3.1,1.8,5.7,2.8,5.7c0.6,0,0.5-0.6-0.3-1.6c-0.7-0.9-0.9-1.8-0.3-2.2c1.6-1.2,1.3-2.8-0.6-2.9
		C114.5,18.4,113.8,18.9,113.9,19.5z'
		></path>
		<path class='fill-current' d='M118.5,19.7c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5c0-0.3-0.2-0.5-0.5-0.5S118.5,19.4,118.5,19.7z'></path>
	</g>
	<g id='cloud-2'>
		<path
			class='fill-current'
			d='M30.5,19.4c-0.6,0.7-2,2.8-3.1,4.6l-1.9,3.2l-2-2c-2.2-2.2-3.7-2.5-6-1c-1.2,0.8-1.1,1,0.6,1
		c3.4,0,7.1,3.6,8.2,8c0.9,3.7,0.8,4.2-1.1,5.4c-1.2,0.8-3.2,1.7-4.5,2.1c-1.3,0.4-2.1,0.9-1.8,1.2c0.3,0.3,1.9,0,3.6-0.6
		c2.5-0.8,3.8-0.7,6,0.4c3.9,2,12.4,2,14.4-0.1c1.3-1.2,1.5-3,1.1-8.2l-0.5-6.7l1.4,6.4c1.5,7.1,4,10.1,8.5,10.1
		c2.9,0,4.5-0.9,4.9-2.8c0.2-1-0.2-1-1.7-0.2c-2.8,1.4-6.6,1.2-8.1-0.4C47.9,39,46.9,35,46.3,31c-1.1-8.2-1.5-9-6.2-11.2
		C36,17.9,32,17.7,30.5,19.4z M41.5,21.7c0.7,0.8,0.9,1.5,0.4,1.5c-0.4,0,0.1,0.7,1.2,1.5c1,0.8,1.5,1.4,0.9,1.4
		c-0.5,0-1.9-0.6-2.9-1.4c-3.3-2.5-6.6-1.8-10.3,2.1c-3.5,3.7-5.3,4.1-3.5,0.7c2.1-3.9,6-6.2,12.3-7.2C40,20.2,40.8,20.9,41.5,21.7z
		 M40.6,26.2c1,0.6,1.9,1.6,1.9,2.2c0,0.9-0.3,0.9-1.2,0c-0.7-0.7-2.6-1.2-4.3-1.2c-4,0-5.5,1.6-5.5,5.6c0,2.4,0.5,3.4,2,3.9
		c3.9,1.2,7.2-4.5,3.5-5.9c-2.1-0.8-3.2,2.3-1.4,3.6c1.1,0.7,0.9,0.8-0.6,0.6c-2.2-0.4-3.2-3.5-1.7-5c0.6-0.6,2.2-0.8,3.6-0.4
		c2.2,0.5,2.6,1.2,2.6,4c0,5.4-2.4,6.4-8.6,3.4c-1.8-0.9-2.1-1.7-1.5-5.9c0.1-0.4,1-1.8,2.2-3.3C33.8,25,37.2,24.4,40.6,26.2z
		 M42.3,35.6c-0.1,3-0.6,5.2-1,5c-0.5-0.3-0.8,0-0.8,0.5c0,2-8.6,1.3-11.1-0.9c-2.9-2.3-2.7-2.4,3.5-0.5c4.5,1.4,5.1,1.4,6.8-0.2
		c1.1-1,1.8-3,1.8-5.5c0-2.1,0.3-3.8,0.6-3.8C42.4,30.2,42.5,32.6,42.3,35.6z'
		></path>
		<path class='fill-current' d='M38.5,21.6c0,0.2,0.7,0.7,1.6,1c0.8,0.3,1.2,0.2,0.9-0.4C40.4,21.2,38.5,20.8,38.5,21.6z'></path>
		<path
			class='fill-current'
			d='M13.5,26.7c-0.7,0.9-1.7,3.3-2.1,5.3c-0.5,3-0.7,3.2-0.8,1c0-1.5-0.5-2.9-0.9-3.2c-0.4-0.2-0.6,1.2-0.4,3.1
		c0.3,2.7,0,4-1.4,5c-1,0.7-1.3,1.3-0.8,1.3c0.6,0,1.6-0.6,2.3-1.3c1.1-1,1.3-0.9,0.9,0.3C10,39,8.3,40,6.4,40.3L3,40.9l3.8,0.2
		c3.4,0.1,3.9-0.2,4.9-3.2l1.2-3.2l0.8,3.2c0.5,2.1,1.5,3.3,2.5,3.3c1.4,0,1.4-0.2-0.3-1.5c-1.8-1.3-1.6-1.4,1.7-0.8
		c4.6,0.7,7.9-1,7.9-4.1c0-2.8-4.2-7.6-6.8-7.6c-1,0-2.3-0.5-2.8-1C15.1,25.4,14.4,25.6,13.5,26.7z M15.9,27.1
		c0.3,0.5-0.1,1.1-0.9,1.4c-0.9,0.4-1.2,0.1-0.8-0.9C14.8,26,15.2,25.9,15.9,27.1z M21.3,29.4c0.8,1,0.1,1.3-2.9,1.3
		c-3.4,0-3.7-0.2-2.2-1.3c0.9-0.6,2.2-1.2,2.9-1.2C19.7,28.2,20.7,28.8,21.3,29.4z M21.2,32.8c0.3,0.8,0.1,2-0.5,2.6
		c-0.7,0.7-1,0.4-0.9-0.8c0.2-1.3-0.4-1.8-1.7-1.6c-1.1,0.2-1.5-0.1-1.1-0.7C17.9,30.7,20.5,31,21.2,32.8z M24.5,34.8
		c0,0.8-1.1,1.9-2.4,2.6c-2.7,1.2-5.6,0.5-5.6-1.3c0-0.8,0.4-0.8,1.5,0.1c2,1.7,4.5,0.5,4.5-2c0-1.2,0.5-1.8,1-1.5
		C24.1,33,24.5,34,24.5,34.8z M13.5,33.7c0,0.3-0.2,0.5-0.5,0.5s-0.5-0.2-0.5-0.5s0.2-0.5,0.5-0.5S13.5,33.4,13.5,33.7z'
		></path>
		<path
			class='fill-current'
			d='M54.7,25.9c2,0.2,4.2,1,4.8,1.8c1.5,1.8,1.6,8.1,0.2,9.8c-0.7,0.7-0.7,1.8-0.2,2.7c1.2,2,3.3-6.4,2.5-10.1
		c-0.8-3.5-3.2-5-7.7-4.7L51,25.5L54.7,25.9z'
		></path>
		<path
			class='fill-current'
			d='M48.5,27.7c-2.1,2.5,0.4,11.5,3.2,11.5c0.5,0,0.2-0.7-0.7-1.7c-1.2-1.2-1.6-2.9-1.3-6.5
		c0.1-2.6,0.2-4.8,0.2-4.8C49.8,26.2,49.2,26.9,48.5,27.7z'
		></path>
		<path class='fill-current' d='M4.3,28.9c0.6,0.2,1.8,0.2,2.5,0c0.6-0.3,0.1-0.5-1.3-0.5S3.6,28.6,4.3,28.9z'></path>
		<path class='fill-current' d='M51.5,28.7c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5c0-0.3-0.2-0.5-0.5-0.5S51.5,28.4,51.5,28.7z'></path>
		<path
			class='fill-current'
			d='M1.2,29.9c-1,0.9-0.8,7.5,0.2,9.1c0.6,1,1,1,2.1-0.3s1.1-1.6,0-1.3c-0.7,0.2-1.5-0.3-1.8-1.1
		c-0.3-0.8,0-1.1,0.7-0.7c0.6,0.4,1.4,0,1.7-0.8c0.3-0.9,1.1-1.3,1.7-0.9c0.6,0.3,0.7,0.1,0.3-0.5c-0.5-0.9-1.3-0.9-2.8-0.1
		c-1.9,1-2,0.9-1.6-1.5C2.3,29,2.2,28.8,1.2,29.9z'
		></path>
		<path class='fill-current' d='M57.5,32.5c0,2.6-0.6,4-2.2,5.1c-1.7,1.2-1.8,1.6-0.6,1.6c2.3,0,4.1-2.7,4-6.1C58.6,28.7,57.5,28.1,57.5,32.5z
		'></path>
		<path class='fill-current' d='M55.3,32.7c0.2,1.4,0.6,2.5,0.8,2.5c0.2,0,0.4-1.1,0.4-2.5c0-1.4-0.4-2.5-0.9-2.5C55.2,30.2,55,31.3,55.3,32.7
		z'></path>
		<path class='fill-current' d='M53.5,32.7c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5S53.5,32.4,53.5,32.7z'></path>
		<path class='fill-current' d='M53.5,35.7c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5s-0.2-0.5-0.5-0.5S53.5,35.4,53.5,35.7z'></path>
	</g>
	<g id='cloud-1'>
		<path
			class='fill-current'
			d='M83.1,33.6c-4.4,1.6-4.1,1.2-11.2,14.6l-5.1,9.5L64.3,55c-3-3.3-6.4-3.6-11.6-0.9c-5.6,2.8-6.9,4.9-7.6,12.1
		c-1.3,12.6-3.3,15.2-10,13c-5.9-1.9-8.3-6.9-6.5-13.5c0.7-2.4,1.8-3.5,4.2-4.3c3.2-1.2,3.2-1.2,0.2-0.6c-5.1,0.8-6.8,3.9-6.2,10.9
		c0.7,7.6,2.7,9.5,10.3,9.5c6.7,0,8.2-1.9,9.1-11.4c0.8-8.7,2.2-6.6,1.5,2.4c-0.4,6.5-0.3,6.9,2.2,8.5c3.7,2.4,13.1,1.7,17.4-1.4
		l3.2-2.2l6.5,3.2c6.2,3,7,3.2,14.8,2.7c14.9-1,16.1-2.8,14.4-21.8L105,47.8l-4.4-2.3c-7.8-4.1-16.6-2.6-20.7,3.4
		C73.8,58,72.2,61.9,73,66c0.8,4.5,4.5,7.8,11,9.7c8.4,2.4,11.9,2,14.9-1.6c2.4-2.8,2.6-3.8,2.6-11.9c0-8-0.2-9-2.2-10.4
		c-2.8-2-9-2.1-12.7-0.2c-4.4,2.3-6.2,6-5.9,11.5c0.2,2.7,0.5,4.8,0.9,4.6c0.3-0.2,1.8,0.5,3.5,1.6c3.8,2.5,4.6,2.4,7.8-0.6
		c3.5-3.2,3.7-9.1,0.4-10.4c-4.4-1.6-8.5,2.6-5.5,5.6c1.3,1.3,1.9,1.4,3.1,0.3c1.3-1,1.6-1,1.6,0.3c0,2.9-3.6,4-6.6,2
		c-2.3-1.5-2.5-2.2-2.1-5.7c0.3-2.2,1.4-4.6,2.3-5.3c2.3-1.7,6.5-1.7,8.8,0c2,1.5,3.9,9,3,12.1c-0.8,2.7-5.2,6.6-7.4,6.6
		c-2.7,0-10.8-3-12-4.5c-4.4-5.3,1.4-19.6,9.4-23c3.8-1.6,11.2,0.3,13.9,3.6c2.5,3.1,2.4,19-0.2,25.2c-1.9,4.4-2.1,4.6-7.3,5.2
		c-5.8,0.7-13.6-0.7-17.2-3c-2.6-1.8-6.2-8.5-7.1-13.6c-1.7-9,11.6-25.7,20.4-25.9c2.6,0,13.3,5.4,15.4,7.9
		c0.8,0.9,1.9,6.2,2.6,12.1c1.3,12.3,2.5,17,4.9,20c3.3,4.1,15.5,4.9,22.3,1.4c4.5-2.3,7.8-14,6.4-22.4c-0.4-2.2-1.8-5.4-3.2-7
		c-2.3-2.8-2.9-3-9.6-2.9c-10,0.1-11.9,0.8-14,5c-1.5,3.1-1.6,4.6-0.8,10.4c0.8,5.5,1.6,7.4,3.9,9.8c2.6,2.6,3.4,2.8,7,2.2
		c5.5-0.9,9-3.8,9.8-8c0.8-4.2,4.4-5.1,4.4-1.1c0,6.6-9.3,13.8-17.4,13.4c-7.9-0.5-8.8-2.5-12.1-30c-0.7-5.6-4.5-9.9-12.1-13.4
		C91.1,32.4,87.7,31.9,83.1,33.6z M101.1,39.3c1.9,1.1,3.4,2.5,3.4,3.1s-0.8,0.4-1.7-0.4c-1-0.9-3.1-2.3-4.8-3.1
		c-1.6-0.9-2.4-1.6-1.6-1.7C97.1,37.2,99.3,38.1,101.1,39.3z M132.4,48.8c3.9,0.8,5.7,3.4,6.5,9.1c0.5,3.8,0.3,4.3-1.4,4.3
		c-1.6,0-1.8-0.5-1.3-3.4c0.4-2.7,0.1-3.6-1.3-4.4c-1.8-0.9-1.9-0.5-1.9,6.4c0,8.7-1.7,11.2-8.3,12.1c-3.5,0.5-4.2,0.2-5.3-1.8
		c-1.7-3.1-2.1-19.5-0.5-20.8c1-0.8,4.1-1.5,8.7-2C128.5,48.3,130.7,48.5,132.4,48.8z M62.3,58.1c3.9,2.7,6.3,7.1,7.2,12.9
		c0.7,4.2,0.6,4.4-3.2,7c-2.9,1.9-5.2,2.5-8.6,2.5c-6.3-0.1-8.5-0.7-9-2.4C48.4,77,48.5,77,49.3,78c0.5,0.8,0.7-1.7,0.4-6.5
		c-0.5-9,0.4-10.5,6.5-10.7c3.2-0.1,4,0.4,6.4,3.9c1.6,2.2,2.8,5.2,2.9,6.7c0,2.2-0.7,2.9-4.5,4.4c-4.3,1.6-4.6,1.6-6.5-0.1
		c-2.2-2-2.7-7.4-0.8-9.3c0.7-0.7,2.2-1.2,3.5-1.2c3.2,0,5.1,4.6,2.8,6.9c-1.1,1.2-1.7,1.2-2.7,0.3c-0.9-0.9-0.8-1.2,0.6-1.2
		c2.4,0,1.7-3.4-0.8-3.8c-3.7-0.8-4.2,4.9-0.5,6.9c2.9,1.5,5.9-0.9,5.9-4.8c0-5.2-5.5-8.7-9.9-6.3c-3,1.5-3,11.1-0.1,14
		c2.3,2.3,3.4,2.4,8.1,0.9c7.6-2.6,8.7-6.5,3.9-14.1c-3.7-5.9-8-7.2-13.5-3.9c-1.9,1.1-3.5,1.6-3.5,1.1s1.4-1.7,3.1-2.5
		c1.7-0.9,2.8-1.9,2.5-2.3c-0.4-0.3-1.2,0-1.8,0.6c-0.7,0.7-1.7,1.2-2.2,1.2c-0.6,0-0.3-0.7,0.7-1.4C52.4,54.8,58.6,55.4,62.3,58.1z
		 M72.2,74.9c-0.4,0.3-0.7,0-0.7-0.7c0-0.7,0.3-1,0.7-0.7C72.5,73.9,72.5,74.5,72.2,74.9z M104.1,77.7c-0.3,0.8-1,1.5-1.5,1.5
		c-0.7,0-0.6-1,0.1-2.6C103.9,74,105.2,75,104.1,77.7z M136,77.2c-1,1.1-2.8,2-3.9,2c-1.8,0-1.7-0.3,0.9-2
		C136.9,74.6,138.3,74.6,136,77.2z M33.1,79.9c-0.6,0.6-3.6-0.9-3.6-1.8c0-0.5,0.9-0.4,2,0.3C32.5,79.1,33.3,79.8,33.1,79.9z'
		></path>
		<path
			class='fill-current'
			d='M122.5,53.2c-1.1,1.1-2,3.2-1.9,4.7c0,2.7,0.1,2.7,1.5-0.8c0.8-2,2.5-4.1,3.7-4.7c1.8-0.9,1.9-1.1,0.5-1.1
		C125.3,51.2,123.6,52.1,122.5,53.2z'></path>
		<path
			class='fill-current'
			d='M125.3,57.3c-2.2,1.2-2.3,3.2-0.3,4.9c1.2,1,1.6,0.9,2.1-0.5c0.4-1,0.1-2.1-0.7-2.7c-1.1-0.7-0.9-0.8,0.6-0.6
		c1.6,0.3,2,1.1,2,3.8c0,3-0.3,3.5-2.6,3.8c-2.2,0.3-2.9-0.2-3.7-2.5c-1.1-2.8-1.1-2.8-0.9,0.8c0.2,2.9,0.6,3.5,2.6,3.7
		c5.7,0.5,10.6-7.5,6.5-10.5C128.8,56,127.6,55.9,125.3,57.3z'
		></path>
		<path
			class='fill-current'
			d='M38.3,61.9c1.2,0.2,2.3,1,2.3,1.6c0.9,9.3,0,12.7-3.4,12.7c-3.6,0-4.8-1.4-5.6-6.6c-0.9-5-1.4-4.4-1.1,1.1
		c0.2,3.6,3.2,6.5,7,6.5s5.1-2,5.3-8.5c0.2-5.9-0.9-7.6-4.8-7.3C36.3,61.5,36.3,61.5,38.3,61.9z'
		></path>
		<path class='fill-current' d='M36.7,64.6c0.7,0.8,1.5,1.2,1.7,1.1c0.5-0.6-1-2.5-2-2.5C35.9,63.2,36,63.8,36.7,64.6z'></path>
		<path
			class='fill-current'
			d='M32.9,67.7c-1.3,3.3,2.5,7,4.8,4.7c0.8-0.8,0.5-0.9-1-0.5c-3,0.7-4.2-2.5-1.7-4.3c1.7-1.3,1.7-1.4,0.2-1.4
		C34.2,66.2,33.2,66.9,32.9,67.7z'></path>
		<path class='fill-current' d='M35.5,69.3c0,0.5,0.5,0.7,1,0.4c0.6-0.3,1-0.8,1-1.1c0-0.2-0.4-0.4-1-0.4C36,68.2,35.5,68.7,35.5,69.3z'></path>
	</g>
	<path
		id='raindrop-4'
		class='fill-current'
		d='M80.3,88.4c-3.8,5-5.1,7.9-4.1,8.9c1.9,1.9,4.3-0.4,6.3-5.7c2.3-6.2,2.3-6.4,1.1-6.4
	C83.1,85.2,81.6,86.7,80.3,88.4z M80.4,93.4c-1.6,3-2.4,3.8-2.7,2.6c-0.3-1.8,3.6-8.3,4.5-7.5C82.4,88.8,81.6,91,80.4,93.4z'
	></path>
	<path id='raindrop-1' class='fill-current' d='M53.6,89.9c-1,2.6-1,2.7,0.4,0.9c0.8-1.1,1.5-2.3,1.5-2.8C55.5,86.5,54.8,87.2,53.6,89.9z'></path>
	<path
		id='raindrop-8'
		class='fill-current'
		d='M105.3,90.4c-4.2,5.6-4.9,7.4-3.4,8.7c1.6,1.4,3.9-0.9,6.1-6.2
	C110.7,86.4,109.3,85.1,105.3,90.4z M105.9,94.6c-1.6,3.2-3.4,4.8-3.4,2.8c0-1.3,4.1-7.4,4.6-6.9C107.4,90.7,106.8,92.6,105.9,94.6z
	'
	></path>
	<g id='raindrop-2'>
		<path class='fill-current' d='M66.2,84.9c-0.4,0.3-0.7,1.1-0.7,1.7s0.5,0.5,1.2-0.2c0.6-0.6,0.9-1.4,0.7-1.7C67.1,84.4,66.5,84.5,66.2,84.9z
		'></path>
		<path class='fill-current' d='M64.5,88.7c0,0.3,0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5c0-0.3-0.2-0.5-0.5-0.5S64.5,88.4,64.5,88.7z'></path>
	</g>
	<g id='raindrop-6'>
		<path class='fill-current' d='M95.5,87.3c0,0.5,0.5,0.7,1,0.4c0.6-0.3,1-0.8,1-1.1c0-0.2-0.4-0.4-1-0.4C96,86.2,95.5,86.7,95.5,87.3z'></path>
		<path class='fill-current' d='M94,90.2c-0.3,0.5-0.1,1,0.4,1c0.6,0,1.1-0.5,1.1-1c0-0.6-0.2-1-0.4-1C94.8,89.2,94.3,89.6,94,90.2z'></path>
	</g>
	<g id='raindrop-9'>
		<path class='fill-current' d='M117.5,88.3c0,0.5,0.5,0.7,1,0.4c0.6-0.3,1-0.8,1-1.1c0-0.2-0.4-0.4-1-0.4C118,87.2,117.5,87.7,117.5,88.3z'></path>
		<path class='fill-current' d='M116.5,91.2c0,0.7,0.3,1,0.7,0.7c0.3-0.4,0.3-1,0-1.4C116.8,90.2,116.5,90.5,116.5,91.2z'></path>
	</g>
	<path
		id='raindrop-3'
		class='fill-current'
		d='M66.3,96.5c-4.2,5.4-5.1,7.8-3.8,9.1c1.5,1.4,5.2-3,6.8-8C70.7,93,69.3,92.5,66.3,96.5z
	 M66.5,101.2c-1.2,2.3-2.5,3.8-3.1,3.4c-0.7-0.4-0.5-1.3,0.4-2.7c0.7-1.2,1.7-2.8,2.1-3.5c0.4-0.6,1.2-1.2,1.7-1.2
	S67.6,99,66.5,101.2z'
	></path>
	<path
		id='raindrop-7'
		class='fill-current'
		d='M90.2,99.3c-3.7,4.3-4.5,7.8-1.9,8.7c1.3,0.4,6.6-10,6-12C94.1,95.4,92.2,96.9,90.2,99.3z
	 M91.2,102.5c-1.5,3.6-3.7,5.7-3.7,3.6c0-1.5,4.1-8.1,4.7-7.6C92.4,98.8,92,100.6,91.2,102.5z'
	></path>
	<path id='raindrop-5' class='fill-current' d='M73.1,106.8c-0.9,2.4-0.2,2.6,1.2,0.4c0.7-1.1,0.8-2,0.3-2S73.4,105.9,73.1,106.8z'></path>
</svg>

<style>
	/* Cloud animation */
	@keyframes drift {
		0%,
		100% {
			transform: translateX(0);
		}
		25% {
			transform: translateX(-10px);
		}
		50% {
			transform: translateX(0px);
		}
		75% {
			transform: translateX(10px);
		}
	}

	#cloud-1 {
		animation: drift 18s infinite ease-in-out;
	}

	#cloud-2 {
		animation: drift 22s infinite ease-in-out reverse;
	}

	#cloud-3 {
		animation: drift 20s infinite ease-in-out;
	}

	/* Raindrop animation */
	@keyframes appearAndDisappear {
		0%,
		100% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
	}

	#raindrop-1 {
		animation: appearAndDisappear 3s infinite;
	}
	#raindrop-2 {
		animation: appearAndDisappear 3.5s infinite;
	}
	#raindrop-3 {
		animation: appearAndDisappear 4s infinite;
	}
	#raindrop-4 {
		animation: appearAndDisappear 4.5s infinite;
	}
	#raindrop-5 {
		animation: appearAndDisappear 3.2s infinite;
	}
	#raindrop-6 {
		animation: appearAndDisappear 3.8s infinite;
	}
	#raindrop-7 {
		animation: appearAndDisappear 4.2s infinite;
	}
	#raindrop-8 {
		animation: appearAndDisappear 3.6s infinite;
	}
	#raindrop-9 {
		animation: appearAndDisappear 4.4s infinite;
	}

	/* General styles for SVG */
	svg {
		display: block;
		margin: auto;
	}
</style>
