<svg width='100%' viewBox='0 0 512 512' fill='none' xmlns='http://www.w3.org/2000/svg' class='inline w-full h-auto'>
	<g clip-path='url(#clip0_19_2416)'>
		<path
			fill-rule='evenodd'
			clip-rule='evenodd'
			d='M449.446 0C483.971 0 512 28.03 512 62.554V449.446C512 483.97 483.97 512 449.446 512H62.554C28.03 512 0 483.97 0 449.446V62.554C0 28.03 28.029 0 62.554 0L449.446 0ZM390.773 127.703C356.931 93.822 311.926 75.155 263.975 75.135C165.176 75.135 84.765 155.54 84.726 254.369C84.713 285.962 92.967 316.797 108.653 343.981L83.224 436.865L178.245 411.94C204.426 426.22 233.904 433.747 263.903 433.756H263.977C362.766 433.756 443.183 353.343 443.224 254.513C443.242 206.618 424.614 161.583 390.773 127.703ZM263.976 403.485H263.916C237.182 403.475 210.962 396.292 188.088 382.718L182.647 379.489L126.261 394.281L141.311 339.304L137.769 333.667C122.856 309.947 114.978 282.531 114.99 254.38C115.023 172.238 181.857 105.409 264.036 105.409C303.829 105.423 341.235 120.94 369.365 149.101C397.493 177.261 412.974 214.693 412.959 254.501C412.925 336.65 346.093 403.484 263.976 403.485ZM345.697 291.904C341.218 289.662 319.198 278.829 315.093 277.333C310.988 275.838 308.002 275.092 305.016 279.574C302.03 284.057 293.447 294.146 290.834 297.136C288.222 300.124 285.609 300.5 281.131 298.256C276.652 296.015 262.221 291.286 245.114 276.026C231.8 264.15 222.81 249.484 220.198 245C217.586 240.516 219.919 238.092 222.161 235.86C224.177 233.853 226.641 230.628 228.88 228.013C231.12 225.398 231.866 223.529 233.359 220.541C234.852 217.551 234.106 214.937 232.985 212.695C231.866 210.454 222.908 188.407 219.176 179.439C215.541 170.706 211.849 171.889 209.099 171.751C206.49 171.621 203.501 171.593 200.516 171.593C197.53 171.593 192.677 172.714 188.572 177.197C184.467 181.681 172.897 192.517 172.897 214.561C172.897 236.607 188.945 257.903 191.184 260.893C193.424 263.883 222.766 309.12 267.695 328.52C278.38 333.135 286.723 335.891 293.228 337.954C303.956 341.364 313.72 340.883 321.437 339.729C330.042 338.444 347.936 328.896 351.668 318.434C355.4 307.97 355.4 299.003 354.28 297.136C353.161 295.267 350.175 294.146 345.697 291.904Z'
			class='fill-current'></path>
	</g>
	<defs>
		<clipPath id='clip0_19_2416'>
			<rect width='512' height='512' fill='white'></rect>
		</clipPath>
	</defs>
</svg>
