---
import { ViewTransitions } from 'astro:transitions'

import NavBar from '../components/navigation/NavBar.astro'
import Footer from '../components/layout/Footer.astro'

import '../styles/base.css'

interface Props {
	title?: string
	fullScreen?: boolean
}

const { fullScreen, title } = Astro.props
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<title>{title ? `8 Day Rain ∞ ${title}` : '8 Day Rain'}</title>
		{/* Preload fonts */}
		<link rel='preconnect' href='https://fonts.googleapis.com' crossorigin />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link
			href='https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yeseva+One&display=swap'
			rel='stylesheet'
		/>
		<link rel='manifest' href='/manifest.json' />
		{/* SEO stuff here */}
		<meta property='og:title' content={title ? `8 Day Rain ∞ ${title}` : '8 Day Rain'} />
		<meta property='og:image' content='https://eightdayrain.vercel.app/teaser.png' />
		<meta property='og:description' content='Rocklands, South Africa' />
		<meta name='twitter:title' content={title ? `8 Day Rain ∞ ${title}` : '8 Day Rain'} />
		<meta name='twitter:description' content='Rocklands, South Africa' />
		<meta name='twitter:image' content='https://eightdayrain.vercel.app/teaser.png' />
		<meta name='twitter:card' content='summary_large_image' />
		{/* View transitions */}
		<ViewTransitions />
	</head>
	<body
		class=`bg-gradient-to-br from-sandstone-300 via-sandstone-300 to-sandstone-400 dark:from-nightsky-950 dark:via-nightsky-950 dark:to-greyfog-950 ${fullScreen ? 'overflow-y-scroll sm:overflow-y-scroll' : 'overflow-y-scroll'} sm:overflow-y-auto overflow-x-hidden`
	>
		<!-- <NavBar fullScreen={fullScreen} /> -->
		<!-- <header>
      Header placeholder
    </header> -->
		{
			fullScreen ? (
				<main class='w-full flex items-center justify-center h-screen h-screen-ios'>
					<slot />
				</main>
			) : (
				<main class='p-5 w-full flex sm:items-center sm:justify-center sm:h-screen'>
					<slot />
				</main>
			)
		}
		<Footer fullScreen={fullScreen} />
	</body>
</html>
