<div class='mt-3 sm:mt-0 flex flex-col space-y-4 w-full max-w-lg mx-auto sm:justify-center'>
	<form method='POST' id='contact-form' class='flex flex-col gap-y-1'>
		<h2 class='text-greyfog-950 dark:text-sandstone-300 m-0 mb-3 sm:m-0text-center sm:text-left font-serif'>Contact form</h2>

		<div class='mb-3'>
			<label for='name' class='block text-sm font-medium text-greyfog-900 dark:text-greyfog-300'>Name</label>
			<input
				required
				type='text'
				name='name'
				id='name'
				class='bg-transparent py-1 border-b-2 border-greyfog-800 dark:border-sandstone-300 text-nightsky-950 dark:text-greyfog-50 focus:ring-0 focus:border-nightsky-800 dark:focus:border-sandstone-200 w-full focus-visible:outline-none'
			/>
		</div>

		<div class='mb-3'>
			<label for='phone' class='block text-sm font-medium text-greyfog-900 dark:text-greyfog-300'>Phone</label>
			<input
				required
				type='tel'
				name='phone'
				id='phone'
				pattern='[0-9]*'
				class='bg-transparent py-1 border-b-2 border-greyfog-800 dark:border-sandstone-300 text-nightsky-950 dark:text-greyfog-50 focus:ring-0 focus:border-nightsky-800 dark:focus:border-sandstone-200
			w-full focus-visible:outline-none'
			/>
		</div>

		<div class='mb-3'>
			<label for='email' class='block text-sm font-medium text-greyfog-900 dark:text-greyfog-300'>Email</label>
			<input
				type='email'
				name='email'
				id='email'
				class='bg-transparent py-1 border-b-2 border-greyfog-800 dark:border-sandstone-300 text-nightsky-950 dark:text-greyfog-50 focus:ring-0 focus:border-nightsky-800 dark:focus:border-sandstone-200 w-full focus-visible:outline-none'
			/>
		</div>

		<div class='mb-3'>
			<label for='message' class='block text-sm font-medium text-greyfog-900 dark:text-greyfog-300'>Message</label>
			<textarea
				required
				name='message'
				id='message'
				rows='4'
				class='bg-transparent py-1 border-b-2 border-greyfog-800 dark:border-sandstone-300 text-nightsky-950 dark:text-greyfog-50 focus:ring-0 focus:border-nightsky-800 dark:focus:border-sandstone-200 w-full focus-visible:outline-none'
			></textarea>
		</div>

		<div class='hidden'>
			<label for='address'>Address</label>
			<input type='text' name='address' id='address' />
		</div>

		<button
			type='submit'
			class='mt-2 px-4 py-2 bg-nightsky-950 dark:bg-sandstone-400 text-white hover:text-white rounded-xs hover:bg-greyfog-800 dark:hover:bg-sandstone-300 dark:hover:text-black focus:outline-none focus:ring-2 focus:ring-nightsky-900 focus:ring-opacity-50'
		>
			Send
		</button>
	</form>
	<p id='responseMessage' class='hidden text-center bg-green-600 leading-snug py-3 px-2 text-greyfog-50 dark:text-greyfog-300'></p>
</div>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const form = document.getElementById('contact-form')
		if (!form) return

		form.addEventListener('submit', async (e) => {
			e.preventDefault()

			const formData = new FormData(form as HTMLFormElement)

			// Validate formData for me please
			if (!formData.get('name') || !formData.get('phone') || !formData.get('message')) return

			// Check for honeypot field
			if (formData.get('address')) return

			const response = await fetch('/api/send-email', {
				method: 'POST',
				body: formData,
			})
			const data = await response.json()

			const responseMessageElement = document.getElementById('responseMessage')
			if (!responseMessageElement) return

			if (data.message) {
				responseMessageElement.textContent = data.message
				responseMessageElement.style.display = 'block'
				form.style.display = 'none'
			}
		})
	})
</script>
